; To make this the active profile, add the environment variable
; MIGRATIONS_ACTIVE_PROFILE=dev to the application environment
; This configuration is meant for use when updating dev.migrations.ml

[Mode]
; To run etl-pipeline locally select 'local' and over the google cloud select 'cloud'
running mode = cloud
data lake = active
transformation = active
data warehouse = active

[Data lake]
database = MigrationsDB

[Data lake cloud]
ip_address = 10.128.0.7
username = MigrationsAdmin
password = Migrations.ml2020!#@
authentication_database = admin
server_port = 27100

[Data lake local]
ip_address = 192.168.188.140

[SQL General]
database = MigrationsDB
username = sa
password = Migrations.ml2020!#@
driver = ODBC Driver 17 for SQL Server

[SQL cloud]
server = 10.128.0.4

[SQL local]
server = 192.168.188.150

[General]
data directory = data
data download directory = data/downloaded
interim csv directory = data/transformed
temp file directory = data/temp
updates file directory = data/updates
data work directory = data/work

[Datasources]
cusips csv = data/downloaded/ticker_cusip_map.csv
equity hdf = data/downloaded/sharadar_equity.hdf5
fred macro data csv = data/downloaded/fred_macro_data.csv
fundamentals csv = data/downloaded/core_us_fundamentals.csv
quandl macro data csv = data/downloaded/quandl_macro_data.csv
ratings csv = data/downloaded/ratings.csv
s&p index prices csv = data/downloaded/s&p_index_prices.csv
us corporate bond prices csv = data/downloaded/us_corporate_bond_prices.csv
bond face value emissions csv = data/downloaded/bond_face_values_emissions.csv
bond face value flow csv = data/downloaded/bond_face_values_flow.csv
edi csv = data/downloaded/edi.csv
edi chunk csv = data/downloaded/edi
cdn bonds csv = data/downloaded/candeal_cdn_bond_data.csv

[Updates]
fundamentals csv = data/updates/core_us_fundamentals.csv
equity price csv = data/updates/equity_price.csv
edi csv = data/updates/edi.csv
cdn bonds updates csv = data/updates/candeal_cdn_bond_data.csv

[Transformed]
cusips csv = data/transformed/processed_ticker_cusip_map.csv
fundamentals csv = /mnt/sharedfolder_client/processed_core_us_fundamentals.csv
equity price csv = /mnt/sharedfolder_client/processed_equity_price
edi csv = /mnt/sharedfolder_client/processed_edi
bond face value csv = data/transformed/processed_bond_face_values.csv
quandl macro data csv = data/transformed/processed_quandl_macro_data.csv
fred macro data csv = data/transformed/processed_fred_macro_data.csv
ratings csv = data/transformed/processed_ratings.csv
cdn bonds csv = data/transformed/processed_candeal_cdn_bond_data.csv

[Transformed Update]
fundamentals updates csv = data/transformed/processed_core_us_fundamentals_updates.csv
equity price updates csv = data/transformed/processed_equity_price_updates.csv
edi updates csv = data/transformed/processed_edi_updates.csv
cdn bonds csv = data/transformed/processed_candeal_cdn_bond_data.csv

[NFS]
shared folder = /mnt/sharedfolder

[Pre-Processing]
delta = 90

[Credentials]
google application service key = migrations/service_account/service_key_dev.json
teams channel url = https://outlook.office.com/webhook/609a89e8-4403-4840-b214-c097536d400d@dc311a83-0416-42e0-8cf9-d390624d816e/IncomingWebhook/4671d836ad9a400491e2cfb7fa578476/e3140d46-1597-4acd-bd71-81b90dc4d3a8

[StorageBucket]
bucket name = migrationsdev.appspot.com

[Quandl]
api key = WmLGTn8q-ia64hWBzmUw

[Moodys]
username = data@migrations.ml
password = butterfly2019

[Fred]
api key = 2cdacfabe02ddf5e2edc817a9d506416

[CBonds]
username = garett@migrations.ml
password = cbonds060220

[EDI]
; alternate server // ftp.exchange-data.net
server = ftp.exchange-data.com
username = Migrations
password = fHtvh47R

[CanDeal]
api key = 123