; To make this the active profile, add the environment variable
; ACTIVE_PROFILE=dev to the application environment

[Mode]
; To run etl-pipeline locally select 'local' and over the google cloud select 'cloud'
running mode = cloud
analyzer = active
database = active

[General]
data directory = data
data download directory = data/downloaded
interim csv directory = data/transformed
updates file directory = data/updates

[Data_Sources]
equity price csv = data/downloaded/equity_price.csv
tickers list csv = data/tickers_list.csv

[Email]
alireza address = applia65@gmail.com
mehrdad address =

[SQL General]
database = Stock_Observer
username = sa
password =
driver = ODBC Driver 17 for SQL Server

[SQL cloud]
server =

[SQL local]
server = 192.168.188.150