; To make this the active profile, add the environment variable
; ACTIVE_PROFILE=dev to the application environment

[Mode]
; To run etl-pipeline locally select 'local' and over the google cloud select 'cloud'
running mode = cloud
analyzer = active
database = active

[General]
data directory = data
data download directory = data/downloaded
data transform directory = data/transformed
data analysis directory = analysis
decisions directory = decisions

[Data_Sources]
equity price csv = data/downloaded/equity_price.csv
processed equity price csv = data/transformed/processed_equity_price.csv
analysis equity price csv = analysis/signal_analysis
tickers list csv = data/tickers_list.csv
test tickers list csv = test/tickers_list_test.csv
strategy test result csv = test/test_result/strategy_test_result

[API]
alphavantage API key = YZCVN3JH9WXNPXTW
marketstack API key = dc66ba2a328c78691b6ed54e43e62832

[Email]
alireza address = applia65@gmail.com
mehrdad address = mehrbod@gmail.com

[MySQL]
server = localhost
database = stockDB
username = root
password = password
stage table name = equity_price_stage
main table name = equity_price_main
result table name = analyzer_result

[Indicator]
moving average 1st period = 5
moving average 2nd period = 20
cci period = 30
atr period = 20
bollinger bands period = 20
